html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

.icon-bar {
    width: 100%;
    background-color: #e4e4e4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}


.icon-bar a {
    float: right;
    align-items: center;
    width: 70px;
    padding: 25px;
    transition: all 0.3s ease;
    font-size: 20px;
    color: black;
}


.icon-bar a:hover {
    color: rgb(130, 149, 255);
}


.icon-bar .search-bar {
    float: right;
    align-items: center;
    width: 400px;
    padding: 25px;
    transition: all 0.3s ease;
}


.icon-bar .logo {
    float: left;
    width: 35px;
    padding: 18px;
    font-size: 20px;
    align-items: center;
}


.icon-bar h4 {
    float: left;
    padding: 22px;
    text-align: center;
}


.icon-bar .active {
    color: white;
}


.fade-button a{
    transition: all 0.3s ease;
    color: black;
}


.fade-button a:hover{
    color: rgb(148, 142, 142);
}


.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}


.glow-button:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(175, 115, 224, 0.4);
  }


.glow-header:hover {
    color: rgb(130, 149, 255);
    box-shadow: 0 5px 15px rgba(75, 100, 212, 0.4);
  }


hr.new {
    border-top: 1px solid red;
}


.delete-button {
    display: flex;
    align-items: right;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top: 20vh;

}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}